name: Build Windows Exe

on:
  workflow_dispatch: # Allows you to manually trigger the build

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v4

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        architecture: x64

    - name: Install dependencies
      run: flutter pub get

    - name: Build Windows Release
      run: flutter build windows --release

    - name: List Build Directory (Debug)
      run: Get-ChildItem -Path build\windows -Recurse
      continue-on-error: true

    - name: Compress Build Folder
      run: Compress-Archive -Path build\windows\x64\runner\Release\* -DestinationPath cnex-windows.zip

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: CNEX-Windows-Build
        path: cnex-windows.zip
